[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/command_t"]
	path = bundle/command_t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/rake"]
	path = bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "bundle/rvm"]
	path = bundle/rvm
	url = https://github.com/csexton/rvm.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = https://github.com/brentmc79/vim-rspec.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/irblack"]
	path = bundle/irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "bundle/moria"]
	path = bundle/moria
	url = https://github.com/vim-scripts/moria.git
[submodule "bundle/zoom-win"]
	path = bundle/zoom-win
	url = https://github.com/vim-scripts/ZoomWin
[submodule "bundle/vim-color-pyte"]
	path = bundle/vim-color-pyte
	url = https://github.com/therubymug/vim-pyte.git
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
	url = https://github.com/mkitt/markdown-preview.vim.git
